Muncie/NLD/Muncie_LFPP_South_Floodwall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="http://ogr.maptools.org/"
    xmlns:ogr="http://ogr.maptools.org/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml"
    xmlns:gmlsf="http://www.opengis.net/gmlsf"
    elementFormDefault="qualified"
    version="1.0">
<xs:annotation>
  <xs:appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
    <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
    <gmlsf:GMLProfileSchema>http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd</gmlsf:GMLProfileSchema>
  </xs:appinfo>
</xs:annotation>
<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
<xs:import namespace="http://www.opengis.net/gmlsf" schemaLocation="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd"/>
<xs:element name="FeatureCollection" type="ogr:FeatureCollectionType" substitutionGroup="gml:_GML"/>
<xs:complexType name="FeatureCollectionType">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="featureMember">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="gml:_Feature"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
<xs:element name="nld_dwp.levee_floodwall_system_view" type="ogr:nld_dwp.levee_floodwall_system_view_Type" substitutionGroup="gml:_Feature"/>
<xs:complexType name="nld_dwp.levee_floodwall_system_view_Type">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence>
        <xs:element name="geometryProperty" type="gml:GeometryPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FLOODWALL_ID" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FC_SEGMENT_ID" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UP_RIVER_MILE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DOWN_RIVER_MILE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FEATURE_NAME" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FEATURE_LENGTH" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GAGE_CODE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="380"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="WALL_HEIGHT" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FOUNDATION_WIDTH" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="WALL_WIDTH" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="WALL_DEPTH" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FLOOD_SOURCE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="150"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RIVER_BASIN" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="HORIZ_ACCURACY" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VERT_ACCURACY" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="COMMENTS" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="510"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GAGE_OWNER" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="WALLTYPE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TYPE_CUT" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="COORDCAP" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SYSTEM_NAME" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="150"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FLOOD_RECORD_FLOW" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FLOOD_RECORD_DATE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SYSTEM_COMMENTS" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="510"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SEGMENT_NAME" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DESIGN_FREQUENCY" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DESIGN_FLOW" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FREEBOARD" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>
